.weatherBox {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    height: 75px;

}

.txt-content {
    color: white;
}

.search-button {
    background-color: rgba(73, 79, 252, 0.76);
    color: #FFFFFF;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}
 
  #button-styles {
    width: 100px;
  }
  

.stateButton {
    display: block;
    background-color: rgba(209, 209, 216, 0.76);
    color: #060606;
    padding: 10px;
    border-radius: 10px;
    margin:10px
}

.stateButton {
    width: 300px; 
    font-size: 15px;
}

.search-flexbox {
 display: flex;
 flex-direction: column;
}

.inputElement {
    height: 30px;
    width: 100%;
  }

.grey-line {
    margin:10px;
    border-bottom: solid 2px grey;
    width: 300px;
}

.currentCityDateBox {
    border: 3px solid grey;
    padding: 0 0 1rem 5rem;
    margin-right: 3rem;
}

.left-padding {
   padding-left: 10px;
}

#main-content-flexbox {
    display: flex;
   
}

#current-city-forecast {
   flex-grow: 1;
}

      
.cards-flexbox {
    display: flex;
    justify-content: space-evenly;
}
  
.temp-humidity {
    background-color: lightblue;
    width: 185px;
    padding-left: 2rem;
    border-radius: 2rem;
}

body {
    margin: 0;
  }

#intro-paragraph {
    line-height: 2.5em;
}
